/* Import */
@import url("../font/style.css");
@import url("https://sybraxdesign.fr/api/github/version.css");

/* General */
* {
  margin: 0;
  padding: 0;
  font-family: "Whitney", sans-serif;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
}

.tooltip {
  display: block;
  position: absolute;
  color: #b6b7b7;
  background: #18191c;
  padding: 0.4rem;
  border-radius: 3px;
  max-width: 150px;
  width: max-content;
  font-size: 0.9rem;
  transform: scale(0);
  transition: 0.055s ease-in-out transform;
  z-index: 10;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
}

.tooltip-up {
  bottom: 42px;
}

.tooltip-up::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #18191c;
}

.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  visibility: hidden;
}

.modal {
  position: relative;
  background: #18191c;
  padding: 15px;
  color: #eee;
  border-radius: 5px;
  transform: scale(0);
  transition: 0.1s ease-in-out all;
}

.modal a {
  text-decoration: none;
  color: #d6d6d6;
  transition-duration: 0.2s;
  border-bottom: 1px solid transparent;
}

.modal a:hover {
  color: #fff;
  border-bottom: 1px solid #f87610;
}

.active {
  visibility: visible;
}

.active .modal {
  transform: scale(1);
}

/* Card */
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1450px;
}

.card {
  background: #292b2f;
  width: 345px;
  max-height: 95%;
  height: max-content;
  border-radius: 9px;
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.2);
  scrollbar-width: none;
}

.card::-webkit-scrollbar {
  display: none;
}

.card-header .banner {
  width: 100%;
  height: 60px;
  background: #ff8527;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
}

.card-header .banner-img {
  width: 100%;
  height: 120px;
  background-position: center !important;
  background-size: 100% auto !important;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
}

.card-body {
  padding: 15px;
  position: relative;
}

.card-body .profile-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: calc(100% - 30px);
  top: -50px;
}

.card-body .profile-header .profil-logo {
  position: relative;
  border: 6px solid #292b2f;
  border-radius: 50%;
}

.card-body .profile-header .profil-logo img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card-body .profile-header .profil-logo::before {
  content: "See Profil";
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
  color: #eeeeee;
  background: #0000007e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  transition-duration: 0.15s;
}

.card-body .profile-header .profil-logo:hover::before {
  opacity: 1;
}

.card-body .profile-header .badges-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 150px;
  background: #18191c;
  border-radius: 7px;
  padding: 3px;
}

.card-body .profile-header .badges-container .badge-item {
  position: relative;
  margin: 5px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-body .profile-header .badges-container .badge-item img {
  height: 100%;
}

.card-body .profile-header .badges-container .badge-item:hover > .tooltip {
  transform: scale(1);
}

.card-body .profile-body {
  background: #18191c;
  border-radius: 7px;
  padding: 13px;
  margin-top: 40px;
}

.card-body .profile-body .username {
  color: #eeeeee;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 1.3rem;
}

.card-body .profile-body .username span {
  color: #b9bbbe;
}

.card-body .profile-body hr {
  border: none;
  border-top: 0.5px solid #33353b;
}

.card-body .profile-body .category-title {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.card-body .profile-body .basic-infos {
  margin-bottom: 14px;
  margin-top: 12px;
}

.card-body .profile-body .basic-infos p {
  color: #bdbebf;
  font-size: 0.9rem;
}

.card-body .profile-body .roles {
  margin-bottom: 14px;
}

.card-body .profile-body .roles .roles-list {
  display: flex;
  flex-wrap: wrap;
}

.card-body .profile-body .roles .roles-list .role {
  background: #292b2f;
  color: #f5f5f5;
  border-radius: 3px;
  font-size: 0.85rem;
  font-weight: 300;
  padding: 3px 6px;
  margin-right: 4px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.card-body .profile-body .roles .roles-list .role .role-color {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-right: 5px;
}

.card-body .profile-body .note textarea {
  border: none;
  outline: none;
  background: #18191c;
  width: 100%;
  min-height: 30px;
  color: #e0e0e0;
  resize: none;
  font-size: 0.8rem;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  scrollbar-width: none;
}

.card-body .profile-body .note textarea::-webkit-scrollbar {
  display: none;
}

.card-body .profile-body .note textarea::placeholder {
  font-size: 0.8rem;
}

.card-body .profile-body .note textarea:focus::placeholder {
  opacity: 0;
}

.card-body .profile-body .message input {
  background: #18191c;
  outline: none;
  border: 1.2px solid #333333;
  padding: 13px;
  width: 100%;
  border-radius: 4px;
  color: #eeeeee;
  margin-top: 14px;
}

/* Media Queries */
@media screen and (max-width: 1470px) {
  .card-container {
    width: 1100px;
  }
  .card:last-child {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .card-container {
    width: 720px;
  }
  .card:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .card-container {
    width: max-content;
  }
  .card:nth-child(2) {
    display: none;
  }
}
